main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.logo {
    display: none;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 1080px) {

    header {
        display: none;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-items: start;
        align-items: start;
    }

    picture {
        height: 100%;
        order: 2;
    }

    picture img {
        height: 100%;
        object-fit: cover;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    .logo {
        display: block;
    }
}